
    <div class="full-screen-container">
      <div class="login-container">
        <h1 class="login-title">Welcome</h1>
        <form class="form" #f="ngForm" (ngSubmit)="registerHandler(f.value)">
          <div class="input-group success">
            <label for="email">Email</label>
            <input type="email" name="email" id="email" #email="ngModel"ngModel email required  [email]="true">
            <span class="msg">Valid email</span>
          </div>
  
          <div class="input-group error">
            <label for="password">Password</label>
            <input type="password" name="password" id="password" #password="ngModel" ngModel required="password">
            <span class="msg">Incorrect password</span>
          </div>
          
          <div class="input-group error">
            <label for="passwordConfirm">Confirm Password</label>
            <input type="password" name="passwordConfirm" id="passwordConfirm" #passwordConfirm="ngModel" ngModel required="passwordConfirm">
            <span class="msg">Incorrect password</span>
          </div>
  
  
          <button type="submit" class="login-button">Register</button>
        </form>
      </div>
    </div>
  