
<body>
    <div class="card">
        <img class="card-img" src="../../assets/fantic.jpg" alt="pizza" srcset="">
        <div class="card-body">
            <h2 class="card-title">Pizza</h2>
            <p class="card-sub-title">Our suggestions for pizza</p>
            <p class="card-info">My aswome pizza is a very testy The first ever home made edition
                <button type="submit" class="login-button"> <a routerLink="food-list">See more</a></button>
            </p>
        </div>
    </div>
    
    
    <div class="card">
        <img class="card-img" src="../../assets/colajpg.jpg" alt="pizza" srcset="">
        <div class="card-body">
            <h2 class="card-title">Drinks</h2>
            <p class="card-sub-title">Our suggestions for drinks</p>
            <p class="card-info">The interconnected global challenges of packaging waste and climate change have made this a
                focus for our business and we are taking a hard look at the packaging we use and how we can drive change.
    
    
                <button type="submit" class="login-button"> <a routerLink="drinks-list">See more</a></button>
            </p>
        </div>
    </div>
</body>
